<div class="container">
  <h2>Liste des utilisateurs</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        <th>Rôle</th>
        <th>Matricule</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
  <td>{{ user.username }}</td>
  <td>{{ user.email }}</td>
  <td>{{ user.role }}</td>
  <td>{{ user.matricule }}</td>
  <td>
    <button (click)="toggleUserActive(user)">
      {{ user.active ? 'Désactiver' : 'Activer' }}
    </button>
  </td>
</tr>

    </tbody>
  </table>
</div>
